.row {
    border-radius: var(--mantine-radius-md);
    overflow: hidden;
    font-weight: 500;
    transition: none;
}

.row td {
    background: none;
    transition: none;
}

.selected {
    background-color: light-dark(
        var(--mantine-primary-color-6),
        var(--mantine-primary-color-8)
    ) !important;
    color: var(--mantine-color-white);
    transition: none;
}

.virtualTable {
    table-layout: fixed;
}

.virtualHeader {
    overflow: visible;
}

.virtualTable :global(.mantine-datatable-header-selector-cell) {
    padding-top: calc(var(--mantine-spacing-xs) + 4px);
    padding-bottom: calc(var(--mantine-spacing-xs) + 4px);
    vertical-align: middle;
    overflow: visible;
}

.virtualTable thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    overflow: visible;
}

.virtualTable thead tr {
    height: 48px;
}

.virtualTable thead th {
    vertical-align: middle;
    overflow: visible;
}

.virtualTable tbody {
    position: relative;
    display: block;
    width: 100%;
    height: var(--virtual-body-height);
}

.virtualRow {
    position: absolute;
    width: 100%;
    display: table;
    table-layout: fixed;
}
