@import "font.css";

:root {
    --safe-area-inset-top: env(safe-area-inset-top, 0px);
    --safe-area-inset-right: env(safe-area-inset-right, 0px);
    --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
    --safe-area-inset-left: env(safe-area-inset-left, 0px);
}

@supports (padding: constant(safe-area-inset-top)) {
    :root {
        --safe-area-inset-top: constant(safe-area-inset-top);
        --safe-area-inset-right: constant(safe-area-inset-right);
        --safe-area-inset-bottom: constant(safe-area-inset-bottom);
        --safe-area-inset-left: constant(safe-area-inset-left);
    }
}

body {
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: var(--safe-area-inset-top) var(--safe-area-inset-right)
        var(--safe-area-inset-bottom) var(--safe-area-inset-left);
    –webkit-overflow-scrolling: touch;
    height: 100%;
}

html,
body,
#root,
.mantine-AppShell-root,
.mantine-AppShell-main,
.mantine-AppShell-body {
    height: 100%;
}

button .tabler-icon,
input .tabler-icon {
    stroke-width: 1.5px;
    width: 1.2rem;
}

* {
    transition-duration: 0.2s;
    transition-property: background;
}
